<div ng-controller="chargeController as chargeCtrl">
    <div class="bar bar-header bar-positive">
        <div class="buttons">
            <button class="button" on-tap="appCtrl.goback()"><i class="icon ion-arrow-left-a"></i></button>
        </div>
        <h1 class="title" ng-if="chargeCtrl.confirmObj.channelCode=='scanCodeAlipay' || chargeCtrl.confirmObj.channelCode=='scanCodeWeChat' || chargeCtrl.confirmObj.channelCode=='scanCodeQQ'">扫码充值</h1>
        <h1 class="title" ng-if="chargeCtrl.confirmObj.channelCode!='scanCodeAlipay' && chargeCtrl.confirmObj.channelCode!='scanCodeWeChat' && chargeCtrl.confirmObj.channelCode!='scanCodeQQ' && chargeCtrl.confirmObj.channelCode!='bankTransfer' && chargeCtrl.confirmObj.channelCode!='alipayTransfer'">确认充值</h1>
        <h1 class="title" ng-if="chargeCtrl.confirmObj.channelCode=='bankTransfer'">网银转账</h1>
        <h1 class="title" ng-if="chargeCtrl.confirmObj.channelCode=='alipayTransfer'">支付宝转账</h1>
    </div>
    <ion-content class="has-header has-footer" overflow-scroll="false" has-bouncing="true">
            <input type="hidden" name="pid" value="{{chargeCtrl.confirmObj.pid|filterURL}}">
            <input type="hidden" name="billno" value="{{chargeCtrl.confirmObj.billno|filterURL}}">
            <input type="hidden" name="amount" value="{{chargeCtrl.confirmObj.amount|filterURL}}">
            <input type="hidden" name="bankco" value="{{chargeCtrl.confirmObj.bankco|filterURL}}">
            <input type="hidden" name="Signature" value="{{chargeCtrl.confirmObj.Signature|filterURL}}">
            <input type="hidden" name="program" value="ie">
            <input type="hidden" name="requestHost" value="{{chargeCtrl.confirmObj.requestHost|filterURL}}">

            <div class="card text-center" ng-if="chargeCtrl.confirmObj.channelCode=='scanCodeAlipay' || chargeCtrl.confirmObj.channelCode=='scanCodeWeChat' || chargeCtrl.confirmObj.channelCode=='scanCodeQQ'">
                <div class="item item-text-wrap">
                    <p class="text-left" ng-if="chargeCtrl.confirmObj.channelCode=='scanCodeAlipay'">1：使用支付宝扫描下方二维码；</p>
                    <p class="text-left" ng-if="chargeCtrl.confirmObj.channelCode=='scanCodeWeChat'">1：使用微信扫描下方二维码；</p>
                    <p class="text-left" ng-if="chargeCtrl.confirmObj.channelCode=='scanCodeQQ'">1：使用QQ扫描下方二维码；</p>
                    <p class="text-left">2：留言<span class="text-red plr10 fw600">平台账号</span>并进行相应金额转账；</p>
                    <p class="pt20 text-left" ng-if="chargeCtrl.confirmObj.channelCode=='scanCodeAlipay'"><span class="text-red fw600">扫描二维码后，请在支付宝留言您的平台账号，否则无法自动到账！</span></p>
                    <p class="pt20 text-left" ng-if="chargeCtrl.confirmObj.channelCode=='scanCodeWeChat'"><span class="text-red fw600">扫描二维码后，请在微信留言您的平台账号，否则无法自动到账！</span></p>
                    <p class="pt20 text-left" ng-if="chargeCtrl.confirmObj.channelCode=='scanCodeQQ'"><span class="text-red fw600">扫描二维码后，请在QQ留言您的平台账号，否则无法自动到账！</span></p>
                </div>
                <img src="{{chargeCtrl.confirmObj.qrUrl}}">
            </div>

            <div class="card text-center" ng-if="chargeCtrl.confirmObj.channelCode=='bankTransfer'">
                <div class="item item-text-wrap">
                    <p class="text-left">1：登录网上银行进行转账；</p>
                    <p class="text-left">2：留言<span class="text-red plr10 fw600">平台账号</span>并进行相应金额转账；</p>
                    <p class="text-left">3：平台银行卡不定期更换，请勿保存或直接转账；</p>
                    <p class="pt20 text-left"><span class="text-red fw600">转账时，请附言您的平台账号，否则无法自动到账！</span></p>
                </div>
            </div>

            <div class="card text-center" ng-if="chargeCtrl.confirmObj.channelCode=='alipayTransfer'">
                <div class="item item-text-wrap">
                    <p class="text-left">充值步骤：第一步：登录【手机支付宝】-> 第二步：点击【转账】-> 第三步：点击【转账到银行卡】-> 第四步：根据以下信息按步骤完成充值。</p>
                    <br>
                    <p class="text-left">转账时间：默认保持2小时内到账才会实时到账。</p>
                    <br>
                    <p class="text-left">特别说明：<span class="text-red plr10 fw600">晚上23: 30至00: 00分以及00: 30至01: 00，支付宝不会到帐。</span></p>
                    <br>
                    <p class="text-left">特别注意：<span class="text-red plr10 fw600">付款时支付宝提示第2天到帐时，请勿付款。</span></p>
                    <br>
                    <br>
                    <p class="text-left">可以直接使用<span class="text-red plr10 fw600">手机支付宝</span>进行转帐付款！</p>
                    <br>
                    <p class="text-left">请务必在<span class="text-red plr10 fw600">2小时内</span>完成付款操作！</p>
                    <br>
                    <p class="text-left">平台银行卡<span class="text-red plr10 fw600">不定期更换</span>，请勿保存或直接转账！</p>
                    <br>

                    <p class="pt20 text-left"><span class="text-red fw600">转账时，请务必在支付宝附言您的平台账号，否则无法自动到账！</span></p>
                </div>
            </div>

            <div class="list card" ng-if="chargeCtrl.confirmObj.channelCode!='bankTransfer' && chargeCtrl.confirmObj.channelCode!='alipayTransfer'">
                <div class="item" ng-if="chargeCtrl.confirmObj.bankId">
                    <span>您选择了：</span>{{chargeCtrl.confirmObj.bankId|filterBankName}}
                </div>
                <div class="item">
                    <span>充值金额：</span>{{chargeCtrl.confirmObj.amount}}
                </div>
                <div class="item">
                    <span>订单编号：</span>{{chargeCtrl.confirmObj.billno}}
                </div>
            </div>

            <div class="list card" ng-if="chargeCtrl.confirmObj.channelCode=='bankTransfer' || chargeCtrl.confirmObj.channelCode=='alipayTransfer'">
                <div class="item" ng-if="chargeCtrl.confirmObj.bankId">
                    <span>转账银行：</span><input type="text" value="{{chargeCtrl.confirmObj.bankId|filterBankName}}" class="noninput-small">
                </div>
                <div class="item">
                    <span>订单编号：</span><input type="text" value="{{chargeCtrl.confirmObj.billno}}" class="noninput-small">
                </div>
                <div class="item">
                    <span>存款户名：</span><input type="text" value="{{chargeCtrl.confirmObj.cardName}}" class="noninput-small">
                </div>
                <div class="item">
                    <span>收款帐号：</span><input type="text" value="{{chargeCtrl.confirmObj.cardId}}" class="noninput-small">
                </div>
                <div class="item">
                    <span>开户网点：</span><input type="text" value="{{chargeCtrl.confirmObj.branchName}}" class="noninput-small">
                </div>
                <div class="item">
                    <span>充值金额：</span><input type="text" value="{{chargeCtrl.confirmObj.amount}}" class="noninput-small">
                </div>
                <!--<div class="item">-->
                <!--<span>附言：</span><input type="text" value="{{chargeCtrl.confirmObj.postscript}}" class="noninput-small">-->
                <!--</div>-->
            </div>

            <div class="row text-center" ng-if="chargeCtrl.confirmObj.channelCode=='scanCodeAlipay' || chargeCtrl.confirmObj.channelCode=='scanCodeWeChat' || chargeCtrl.confirmObj.channelCode=='scanCodeQQ' || chargeCtrl.confirmObj.channelCode=='bankTransfer' || chargeCtrl.confirmObj.channelCode=='alipayTransfer'">
                <div class="col col-full">
                    <a href="#/chargeRecord/charge" class="button button-block button-positive">完成支付</a>
                </div>
            </div>

            <div class="row" ng-if="chargeCtrl.confirmObj.channelCode!='scanCodeAlipay' && chargeCtrl.confirmObj.channelCode!='scanCodeWeChat' && chargeCtrl.confirmObj.channelCode!='scanCodeQQ' && chargeCtrl.confirmObj.channelCode!='bankTransfer' && chargeCtrl.confirmObj.channelCode!='alipayTransfer'">
                <div class="col col-full">
                    <form action="{{chargeCtrl.confirmURL}}" target="_blank" method="post" novalidate onsubmit="return true;">
                        <input type="submit" class="button button-block button-positive" value="进入充值页面"/>
                    </form>
                </div>
            </div>
    </ion-content>
</div>
<commonfooter></commonfooter>
