<div class="lottery-type-f">
    <ion-content overflow-scroll="false" has-bouncing="true">   
    <div class="lottery-type-c">
        <div class="lt-type-t">时时彩</div>
        <ul class="lt-type-list">
            <li on-tap="betCtrl.routetocp('bet',101)">
                <div>重庆时时彩</div>
            </li>
            <!-- <li on-tap="betCtrl.routetocp('bet',122)">
                <div>腾讯分分彩</div>
            </li> -->
            <li on-tap="betCtrl.routetocp('bet',103)">
                <div>新疆时时彩</div>
            </li>
            <li on-tap="betCtrl.routetocp('bet',104)">
                <div>天津时时彩</div>
            </li>
            <!--<li on-tap="betCtrl.routetocp('bet',105)">-->
            <!--<div>北京5分彩</div>-->
            <!--</li>-->
            <!--<li on-tap="betCtrl.routetocp('bet',115)">-->
            <!--<div>台湾5分彩</div>-->
            <!--</li>-->
            <!--<li on-tap="betCtrl.routetocp('bet',117)">-->
            <!--<div>急速秒秒彩</div>-->
            <!--</li>-->
            <li on-tap="betCtrl.routetocp('bet',118)">
                <div>QQ分分彩</div>
            </li>
            <li on-tap="betCtrl.routetocp('bet',119)">
                <div>微博1.5分彩</div>
            </li>
            <li on-tap="betCtrl.routetocp('bet',125)">
                <div>韩国1.5分彩</div>
            </li>
            <li on-tap="betCtrl.routetocp('bet',120)">
                <div>纽约2分彩</div>
            </li>
            <li on-tap="betCtrl.routetocp('bet',126)">
                <div>加拿大3.5分彩</div>
            </li>
            <li on-tap="betCtrl.routetocp('bet',124)">
                <div>重庆3.5分彩</div>
            </li>
            <li on-tap="betCtrl.routetocp('bet',121)">
                <div>澳洲5分彩</div>
            </li>
        </ul>
        <div class="lt-type-t">11选5<span>&nbsp;</span></div>
        <ul class="lt-type-list">
            <li on-tap="betCtrl.routetocp('bet',201)">
                <div>广东11选5</div>
            </li>
            <li on-tap="betCtrl.routetocp('bet',205)">
                <div>山东11选5</div>
            </li>
            <!-- <li on-tap="betCtrl.routetocp('bet',204)">
                <div>上海11选5</div>
            </li> -->
            <li on-tap="betCtrl.routetocp('bet',202)">
                <div>江西11选5</div>
            </li>
            <!-- <li on-tap="betCtrl.routetocp('bet',203)">
                <div>安徽11选5</div>
            </li> -->
            <li on-tap="betCtrl.routetocp('bet',206)">
                <div>新疆11选5</div>
            </li>
        </ul>
        <div class="lt-type-t">快3<span>&nbsp;</span></div>
        <ul class="lt-type-list">
            <!-- <li on-tap="betCtrl.routetocp('bet',302)">
                <div>安徽快3</div>
            </li> -->
            <!-- <li on-tap="betCtrl.routetocp('bet',303)">
                <div>湖北快3</div>
            </li>
            <li on-tap="betCtrl.routetocp('bet',301)">
                <div>上海快3</div>
            </li>
            <li on-tap="betCtrl.routetocp('bet',304)">
                <div>江苏快3</div>
            </li>
             <li on-tap="betCtrl.routetocp('bet',305)">
                <div>广西快3</div>
            </li>
            <li on-tap="betCtrl.routetocp('bet',306)">
                <div>北京快3</div>
            </li>
            <li on-tap="betCtrl.routetocp('bet',307)">
                <div>河北快3</div>
            </li>
            <li on-tap="betCtrl.routetocp('bet',308)">
                <div>甘肃快3</div>
            </li>
            <li on-tap="betCtrl.routetocp('bet',309)">
                <div>江西快3</div>
            </li> -->
            <li on-tap="betCtrl.routetocp('bet',310)">
                <div>幸运快3</div>
            </li>
        </ul>

        <div class="lt-type-t">3D<span>&nbsp;</span></div>
        <ul class="lt-type-list">
            <li on-tap="betCtrl.routetocp('bet',401)">
                <div>福彩3D</div>
            </li>
            <li on-tap="betCtrl.routetocp('bet',402)">
                <div>排列三</div>
            </li>
        </ul>

        <!-- <div class="lt-type-t">快乐8<span>&nbsp;</span></div>
        <ul class="lt-type-list">
            <li on-tap="betCtrl.routetocp('bet',501)">
                <div>北京快乐8</div>
            </li>
        </ul> -->

        <div class="lt-type-t">PK10<span>&nbsp;</span></div>
        <ul class="lt-type-list">
            <li on-tap="betCtrl.routetocp('bet',601)">
                <div>北京PK拾</div>
            </li>
        </ul>
    </div>
    </ion-content>
</div>
