<ion-modal-view>
    <div class="bar bar-header bar-positive">
        <h1 class="title">我的会员</h1>
        <button class="button" on-tap="modal.closeUserModal()">关闭</button>
    </div>
    <ion-content class="has-header has-footer" overflow-scroll="false" has-bouncing="true">
        <div class="list list-inset">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="Search" ng-model='searchMember'>
            </label>
        </div>
        <ion-list id="memberlist">
            <ion-radio ng-model="userObj"  ng-value="'{{item.username}}'" ng-repeat="item in members|filter:searchMember">{{item.username}}</ion-radio>
        </ion-list>
        <div class="row">
            <div class="col">
                <button class="button button-positive button-block" on-tap="confirm_pick_member()">确定</button>
            </div>
        </div>
    </ion-content>
</ion-modal-view>
