<div class="ssc-container" ng-controller="lotteryReportController as lotteryReportCtrl">
    <div class="bar bar-header bar-positive">
        <button class="button button-icon icon ion-arrow-left-a" on-tap="appCtrl.goback()"></button>
        <h1 class="title">彩票账户记录</h1>
        <button class="button button-positive button-small" on-tap="lotteryReportCtrl.searchRecord()">查询</button>
    </div>
    <ion-content class="has-header has-footer" overflow-scroll="false" has-bouncing="true">
        <!--下拉刷新-->
        <ion-refresher pulling-text="下拉刷新" on-refresh="lotteryReportCtrl.reflesh()"></ion-refresher>
        <div class="recordContainer">
            <div class="list">
                <div class="item item-input">
                    <span class="input-label">用户查询</span>
                    <input type="text" ng-model="lotteryReportCtrl.searchObj.username" placeholder="用户名">
                </div>
                <div class="item item-icon-left">
                    <i class="icon ion-ios-calendar positive"></i>
                    <input type="date" ng-model="lotteryReportCtrl.searchObj.sTime">
                </div>
                <div class="item item-icon-left">
                    <i class="icon ion-ios-calendar positive"></i>
                    <input type="date" ng-model="lotteryReportCtrl.searchObj.eTime">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p><span class="p05" ng-bind-html="lotteryReportCtrl.lotteryData.ups"></span></p>
                </div>
            </div>
            <div class="list">
                <div class="item" ng-repeat="record in lotteryReportCtrl.records">
                    <table class="table_bordered text-center">
                        <tbody>
                            <tr>
                                <td>用户名</td>
                                <td>充值</td>
                                <td>提现</td>
                                <td>投注</td>
                            </tr>
                            <tr>
                                <td ng-if="record.name!='总计'"><button on-tap="lotteryReportCtrl.checkchild(record.name)" class="button button-positive button-small">{{record.name}}</button></td>
                                <td ng-if="record.name=='总计'">{{record.name}}</td>
                                <td>{{record.cashIn|number:2}}</td>
                                <td>{{record.cashOut|number:2}}</td>
                                <td>{{record.billingOrder|number:2}}</td>
                            </tr>
                            <tr>
                                <td>派奖</td>
                                <td>返点</td>
                                <td>优惠</td>
                                <td>盈利</td>
                            </tr>
                            <tr>
                                <td>{{record.prize|number:2}}</td>
                                <td>{{record.proxyReturn+record.spendReturn|number:2}}</td>
                                <td>{{record.activity+record.rechargeFee|number:2}}</td>
                                <td>{{record.prize+record.proxyReturn+record.spendReturn+record.activity+record.rechargeFee-record.billingOrder|number:2}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- <ion-infinite-scroll ng-if="!lotteryReportCtrl.noMorePage" immediate-check="false" on-infinite="lotteryReportCtrl.loadmore(lotteryReportCtrl.page)" distance="10%"></ion-infinite-scroll> -->
    </ion-content>
    <commonfooter></commonfooter>
</div>
