<div class="bar bar-header bar-positive" >
	<button class="button button-icon icon ion-arrow-left-a" on-tap="appCtrl.goback()"></button>
    <h1 class="title">平台公告</h1>
</div>
<ion-content class="has-header has-footer" overflow-scroll="false" has-bouncing="true">
	<div class="card">
        	<div class="item item-divider text-center">
        		<span>银行卡绑定提示</span>
        	</div>
        	<div class="item item-text-wrap banktips">
                <h3>1. 一个游戏账户最多绑定 4 张银行卡， 您目前绑定了1张卡，还可以绑定3张。</h3>
                <h3>2. 银行卡信息锁定后，不能增加新卡绑定，已绑定的银行卡信息不能进行修改和删除。</h3>
                <h3>3. 为了您的账户资金安全，银行卡“新增”和“修改”将在操作完成2小时0分后，新卡才能发起“向平台提现”。</h3>
            </div>
        </div>
</ion-content>