<div class="bankContainer" ng-controller="bankController as bankCtrl">
    <div class="bar bar-header bar-positive">
        <div class="buttons">
            <button class="button" on-tap="appCtrl.goback()"><i class="icon ion-arrow-left-a"></i></button>
        </div>
        <h1 class="title">银行卡管理</h1>
    </div>

    <ion-content class="has-header has-footer" overflow-scroll="false" has-bouncing="true">
        <div class="list card" ng-repeat="item in bankCtrl.bankcards track by item.id">
            <div class="item item-divider text-center">
                {{item.bankName}}
            </div>
            <div class="item">
                <span>支行：</span>{{item.bankBranch}}

                <div class="item-button-right inline" data-tap-disabled="true">
                    <button class="button button-positive button-small fs16" on-tap="bankCtrl.unlockBank(item.id)">解锁</button>
                </div>
            </div>
            <div class="item">
                <span>银行卡号：</span>{{item.cardId}}
            </div>
            <div class="item">
                <span>账号:</span>{{item.cardName}}
            </div>
        </div>
        <!--<div class="list card add-card" on-tap="bankCtrl.addNewBank()">-->
            <!--<p>添加银行卡</p>-->
        <!--</div>-->

        <div class="row">
            <div class="col col-full">
                <button class="button button-block button-positive" on-tap="bankCtrl.addNewBank()">添加银行卡</button>
            </div>
        </div>
    </ion-content>
</div>
<commonfooter></commonfooter>
