<ion-modal-view>
    <div class="">
        <div class="bar bar-header bar-positive">
            <h1 class="title">投注详情</h1>
            <button class="button icon ion-close-circled" on-tap="betRecordCtrl.closeModal()">关闭</button>
        </div>
        <ion-content class="has-header has-footer" overflow-scroll="false" has-bouncing="true">
            <div class="card">
                <div class="item item-divider">
                    投注信息
                </div>
                <div class="item item-text-wrap padding0">
                    <table class="table_bordered">
                        <tbody>
                            <tr>
                                <td>订单</td>
                                <td>{{betRecordCtrl.currentRecord.bean.billno}}</td>
                                <td>状态</td>
                                <td>{{betRecordCtrl.currentRecord.bean.status|statusFilter}}</td>
                            </tr>
                            <tr>
                                <td>彩种</td>
                                <td>{{betRecordCtrl.currentRecord.lottery}}</td>
                                <td>期号</td>
                                <td>{{betRecordCtrl.currentRecord.bean.expect}}</td>
                            </tr>
                            <tr>
                                <td>资金模式</td>
                                <td>{{betRecordCtrl.currentRecord.bean.model|modelFilter}}</td>
                                <td>奖金模式</td>
                                <td>{{betRecordCtrl.currentRecord.bean.code}}</td>
                            </tr>
                            <tr>
                                <td>注数</td>
                                <td>{{betRecordCtrl.currentRecord.bean.nums}}</td>
                                <td>倍数</td>
                                <td>{{betRecordCtrl.currentRecord.bean.multiple}}</td>
                            </tr>
                            <tr>
                                <td>玩法</td>
                                <td>{{betRecordCtrl.currentRecord.mname}}</td>
                                <td>是否追号</td>
                                <td>{{betRecordCtrl.currentRecord.bean.chaseStop|stopFileter}}</td>
                            </tr>
                            <tr>
                                <td>投注金额</td>
                                <td>{{betRecordCtrl.currentRecord.bean.money}}</td>
                                <td>中奖金额</td>
                                <td>{{betRecordCtrl.currentRecord.bean.prizeMoney}}</td>
                            </tr>
                            <tr>
                                <td>开奖号码</td>
                                <td colspan="3">{{betRecordCtrl.currentRecord.bean.openCode}}</td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
                <div class="item item-divider text-center">
                    投注号码
                </div>
                <div class="item item-text-wrap">
                    {{betRecordCtrl.currentRecord.bean.codes}}
                </div>
                <div class="item" ng-if="betRecordCtrl.currentRecord.allowCancel">
                    <button ng-if="betRecordCtrl.currentRecord.bean.type !== 2" class="button button-block button-assertive" on-tap="betRecordCtrl.cancelOrder(betRecordCtrl.currentRecord.bean,'general')"><i class="icon ion-reply-all"></i> 撤单</button>
                    <button ng-if="betRecordCtrl.currentRecord.bean.type == 1" class="button button-block button-assertive" on-tap="betRecordCtrl.cancelOrder(betRecordCtrl.currentRecord.bean,'chase')"><i class="icon ion-reply-all"></i> 撤销追号</button>
                </div>
            </div>
        </ion-content>
    </div>
    <commonfooter></commonfooter>
</ion-modal-view>
